                /* to all the html file */
                
                * {
                    margin: 0;
                    padding: 0;
                    font-family: 'Poppins', sans-serif;
                }
                /* header section */
                
                header {
                    position: relative;
                    top: 0;
                    left: 0;
                }
                
                header img {
                    width: 100%;
                    height: 300px;
                }
                /* Main content section */
                
                #main-content {
                    /* border: 2px solid red; */
                    position: relative;
                    width: 100%;
                    height: auto;
                    padding-bottom: 50px;
                }
                
                .content-columns {
                    /* border: 2px solid green; */
                    display: flex;
                    /* align-items: center; */
                    justify-content: space-evenly;
                    padding: 20px;
                }
                /* column 1 all  */
                
                #column1 {
                    /* border: 2px solid aqua; */
                    margin-top: 5px;
                    padding: 0px;
                    width: 35%;
                }
                /* colum 1 row`1 */
                
                #column1_row1 h1 {
                    padding: 12px 0px;
                    font-size: 2rem;
                }
                
                #column1_row1 h4 {
                    padding: 8px 0px;
                    font-size: 0.8rem;
                }
                
                #column1_row1 p {
                    padding: 8px 0px;
                    font-size: 1rem;
                }
                
                #column1_row2 h2 {
                    margin: 11px 0px;
                    font-size: 1.8rem;
                }
                
                #img_text {
                    display: flex;
                }
                
                #img_text img {
                    height: 10px;
                    padding: 5px;
                }
                /* column 2 all */
                
                #column2 {
                    /* border: 2px solid aqua; */
                    margin-top: 5px;
                    padding: 0px;
                    width: 35%;
                }
                
                #column2_row1 h2 {
                    margin: 10px 0px;
                }
                
                .form_row1 {
                    background-color: aqua;
                    display: flex;
                    width: 100%;
                    align-items: baseline;
                }
                
                form {
                    display: flex;
                    flex-wrap: wrap;
                }
                
                form div {
                    flex-direction: column;
                    width: 45%;
                    padding-right: 4%;
                    margin: 11px 0px;
                    align-items: center;
                    justify-content: center;
                }
                
                form select,
                input {
                    width: 100%;
                    border: 2px solid black;
                    font-size: 1rem;
                    border-radius: 5px;
                }
                
                form button {
                    width: 100%;
                    background-color: blue;
                    color: white;
                    border-radius: 5px;
                    border-width: 0;
                    align-content: center;
                    text-align: center;
                    font-size: 1rem;
                    height: 30px;
                    margin: 17px 0px;
                }
                
                form input {
                    width: 50%;
                    font-size: 1rem;
                    text-align: center;
                    font-weight: bold;
                }
                /* column 2 row2 */
                
                #column2_row2 {
                    position: relative;
                    box-sizing: border-box;
                    font-size: 1.3rem;
                    background-color: rgb(210, 238, 253);
                    padding: 12px 9px;
                }
                
                .calculate_column {
                    display: flex;
                    width: 100%;
                    font-size: 1.3rem;
                    margin: 9px 0px;
                }
                
                .calculate_column p {
                    width: 100%;
                }
                
                .calculate_column p:nth-child(2) {
                    text-align: right;
                    padding-right: 20px;
                }
                /* for small screens */
                
                @media (max-width: 750px) {
                    .content-columns {
                        flex-direction: column;
                        width: 100%;
                    }
                    #column1 {
                        /* border: 2px solid aqua; */
                        width: 95%;
                        margin-bottom: 5px;
                    }
                    #column2 {
                        /* border: 2px solid aqua; */
                        width: 95%;
                    }
                }